<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Error 404</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<style>
    .imagen{
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 100px;
    }

    .texto{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<body>
    <div class="imagen">
        <img src="https://e7.pngegg.com/pngimages/27/133/png-clipart-illustration-of-orc-world-of-warcraft-thrall-games-world-of-warcraft-thumbnail.png" alt="" class="imagen">
    </div>
    <div class="texto">
        <h4>Error 404</h4>
    </div>
    <div class="texto">
        <p>Oops, lo sentimos, no hay acceso a este recurso</p>
    </div>
    <div class="texto">
        <a href="/">Regresar al Inicio</a>
    </div>
</body>
</html>