<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Error 500</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<style>
    .imagen{
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 100px;
    }

    .texto{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<body>
    <div class="imagen">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXx1xL77dbIHjATVI-OjJP23MvOYtNN0JyQw&s" alt="">
    </div>
    <div class="texto">
        <h4>Error 500</h4>
    </div>
    <div class="texto">
        <p>Oops, lo sentimos, estamos teniendo problemas</p>
    </div>
    <div class="texto">
        <a href="/">Contactenos para enviar, sus reportes</a>
    </div>
</body>
</html>